<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Заголовок</h1>
<h2>Заголовок</h2>
<h3>Заголовок</h3>
<h4>Заголовок</h4>
<h5>Заголовок</h5>

<p>sfg  <i>safd</i> asd <b>sad</b> sad asdasd  sadsad</p>

<hr>

<h2> Табличний вигляд </h2>

<table>
    <thead>
    <tr>
        <th>№</th>
        <th>name</th>
        <th>description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>iPhone</td>
        <td>asd sad asd</td>
    </tr>
    <tr>
        <td>2</td>
        <td>iPad</td>
        <td>dsf sad asd</td>
    </tr>
    </tbody>
</table>

<hr>

<h2> Список </h2>

<ul>
    <li>C#</li>
    <li>Java</li>
    <li>JavaScript</li>
</ul>

<ol>
    <li>C#</li>
    <li>Java</li>
    <li>JavaScript</li>
</ol>

<hr>

<form>

    <label for="name">Name</label>
    <input type="text" id="name" name="name"><br>

    <br>
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"
    placeholder="user"><br>

    <label for="password">Password</label><br>
    <input type="text" id="password" name="password"
    placeholder="pass"
    ><br>

    <label for="age">Age</label><br>
    <input type="number" min="1" max="120" step="1"><br>

    <input type="radio" name="gander" value="m"/> Чоловік
    <input type="radio" name="gander" value="f"/> Жінка
    <br>

    <h2>Оберіть, будь ласка, зі списку</h2>
    <select name="job">
        <option value="student">Cтудент</option>
        <option value="teacher">Викладач</option>
        <option value="developer">Розробник</option>
    </select>

    <h2>Оберіть, будь ласка, зі списку</h2>
    <select name="job" multiple>
        <option value="student">Cтудент</option>
        <option value="teacher">Викладач</option>
        <option value="developer">Розробник</option>
    </select>

    <h2>Робота з картинками</h2>

    <img src="test_img/123.jpg" alt="user1">











</form>



</body>
</html>